:root {
    --prim-color: #84c9ee;
    --second-color: #183849;
    --third-color: #74240c;
    --forth-color: #FFF5EE;
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--prim-color);
    padding: 10px;
    margin: 5px;
}

header h1 {
    text-align: center;
    font-size: 60px;
}


/* Search Area Style */
.search-bar {
    width: 100%;
    padding: 40px 40px 10px 40px;
    white-space: pre-wrap;
    text-align: center; 
    background-image: url(../images/blank-book.jpg); 
    background-size: cover;
    background-attachment: fixed;
}

.search-text {
    text-align: center;
    width: 1000px;
    height: 50px;
    font-size: 40px;
}

main {
    display: flex;
    justify-content: space-around;
}

.background {
    background-color: var(--second-color);
    background-size: cover;
    background-position: 20%;
    z-index: 9999;
}

section {
    display: flex;
    justify-content: space-around;
    
}

/* Random recipe style section */
.random {
    margin: auto;
    color: var(--forth-color);
}

.title {
    margin: auto;
}

.filter-form {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    color: var(--forth-color);
}

.filter, .filter2 {
    margin: 5px 40px;
}