:root {
    --prim-color: #84c9ee;
    --second-color: #183849;
    --third-color: #74240c;
    --forth-color: #FFF5EE;
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--prim-color);
    padding: 10px;
    margin: 5px;
}

header h1 {
    text-align: center;
    font-size: 60px;
}


/* Search Area Style */
.search-bar {
    width: 100%;
    padding: 40px 40px 10px 40px;
    white-space: pre-wrap;
    text-align: center; 
    background-image: url(../images/blank-book.jpg); 
    background-size: cover;
    background-attachment: fixed;
}

.search-text {
    text-align: center;
    width: 1000px;
    height: 50px;
    font-size: 40px;
}

main {
    display: flex;
    justify-content: space-around;
}

.background {
    background-color: var(--second-color);
}

section {
    display: flex;
    justify-content: space-around;
    
}

/* Random recipe style section */
.random {
    margin: auto;
    color: var(--prim-color);
}

.title {
    margin: auto;
}

.filter-form {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    color: var(--prim-color);
}

.filter, .filter2 {
    margin: 5px 40px;
}

/* Media Query for desktops */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
